<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Main page</h1>
    <p>Your current balance: ${{ balance }}</p>
    <p>Current stock level: {{ stock }}</p>
    <a href="{{ url_for('history_view') }}">View History</a>
    <a href="{{ url_for('purchase_view') }}">Purchase</a>
    <a href="{{ url_for('sell_view') }}">Sell</a>
    <a href="{{ url_for('balance_view') }}">Manage Balance</a>
</body>
</html>